<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.List_one"
        tools:targetApi="31">
        <activity
            android:name=".login.LoginPage"
            android:exported="false" />
        <activity
            android:name=".CalculateMediaStudentQuestionFive"
            android:exported="false" />
        <activity
            android:name=".MediaQuestionFive"
            android:exported="false" />
        <activity
            android:name=".CilinderCanQuestionSeven"
            android:exported="false" />
        <activity
            android:name=".CalculateAgeQuestionThree"
            android:exported="false" />
        <activity
            android:name=".BoxQuestionTwo"
            android:exported="false" />
        <activity
            android:name=".CalculateSalaryQuestionOne"
            android:exported="false" />
        <activity
            android:name=".ConvertTemperatureQuestionSix"
            android:exported="false" />
        <activity
            android:name=".CalculeCarGasQuestionFour"
            android:exported="false" />
        <activity
            android:name=".temperature_question_six"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>